@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --soft-beige: #FFF8F0;
  --warm-cream: #FAF3E0;
  --leafy-green: #4CAF50;
  --leafy-green-alt: #6DBE45;
  --bright-yellow: #FFD700;
  --bright-yellow-alt: #FDCB58;
  --white: #FFFFFF;
  --black: #333333;
  --deep-grey: #1A1A1A;
}

html, body, #root, .App {
  font-family: 'Roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.4;
}


